<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<connectionStrings>
	<add name="Test" connectionString="Data Source=DESKTOP-5DD9PSN\SQLEXPRESS;Initial Catalog=QL_QuanCafe;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
